.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}



.table_hidden{
  display:none;
  visibility: collapse;
}
.table_show{
  visibility: visible;
}


.drop_down{
  z-index:100;
  position:relative;
}



.table{
  z-index:1;
}